{{define "list"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/list.css" />
  <title>Liste des personnages</title>
</head>

<body>
  <section class="global">
    <div class="perso-global">
      {{range . }}
      <div class="perso">
        <div class="image">
          <img src="{{.Image}}" alt="Image {{.Nom}} {{.Prenom}}" />
        </div>
        <div class="info-perso">
          <div class="nom-prenom">
            <p>{{.Prenom}}</p>
            <p>{{.Nom}}</p>
          </div>
          <div class="tout-le-reste">
            <p>{{.Sexe}}</p>
            <p>{{.Age}}</p>
            <p>{{.Taille}}</p>
            <p>{{.Poids}} kg</p>
          </div>
        </div>
        <div class="supp-modif">
          <div class="supp">
            <a href="/delete">
              <input type="hidden" name="id" value="{{ .ID }}">
              <input type="submit" class="delete-button" value="">
            </a>
          </div>
          <div class="modif">
            <a href="/modif?char={{.ID}}">
              <input type="hidden" name="id" value="{{ .ID }}">
              <input type="submit" class="modifier" value="">
            </a>
          </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </section>
</body>
</html>
{{end}}