@font-face {
  font-family: "Moko";
  src: url("http://localhost:8080/static/font/Mokoto Demo.ttf")
    format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/site/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  color: #ffffff;
  font-size: 35px;
  font-family: "Moko";
}

.choix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.choix form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choix form button {
  height: 19rem;
  width: 19rem;
  background: none;
  border: none;
  animation: myAnimOut 0.5s ease 0s 1 normal backwards;
}

.choix form button:hover {
  cursor: pointer;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

@keyframes myAnim {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.3);
    }
  }
  
  @keyframes myAnimOut {
    0% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }