@font-face {
  font-family: "Moko";
  src: url("http://localhost:8080/static/font/Mokoto Demo.ttf")
    format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/site/background.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  color: #ffffff;
  font-size: 35px;
  font-family: "Moko";
}

.perso-global {
  width: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global {
  height: 100%;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.supp-modif {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 4em;
  height: 2em;
  border-radius: 0px 0px 15px 15px;
}

.supp {
  height: 50px;
  width: 50px;
}

.modif {
  height: 50px;
  width: 50px;
}

.modif a {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.modif a .modifier {
  width: 100%;
  height: 100%;
  background-image: url("../img/site/modif.png");
  background-size: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.modif a:hover .modifier {
  background-image: url("../img/site/modifier.png");
}

.card {
  width: 190px;
  height: 254px;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  /* background: #ff930f; */
  background-blend-mode: multiply;
  /* background: linear-gradient(to top, #ffef0f, #ffcc33); */
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.card-front {
  bottom: 16px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-back {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Text*/
.title {
  font-size: 1.3rem;
}
/*Text divider*/
.title::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #ffffff;
}

/*Hover*/
.card:hover {
  background-color: #1b1b1b25;
}

.card:hover .card-front {
  transform: translateX(-100%);
}

.card:hover .card-back {
  transform: translateX(0);
}

.card-back p {
  font-size: 1.3rem;
  height: 45px;
}


.Bleu {
  background: #0fbbff;
  background: linear-gradient(to top, #0fbbff, #338bff);
}

.bleu a {
  text-decoration: none;
  color: #0fbbff;
}

.Jaune {
  background: #ff930f;
  background: linear-gradient(to top, #ffef0f, #ffcc33);
}

.jaune a {
  text-decoration: none;
  color: #ffef0f;
}

.Rouge {
  background: #ff0000;
  background: linear-gradient(to top, #ff0000, #ff6333);
}

.rouge a {
  text-decoration: none;
  color: #ff0000;
}

.Verte {
  background: #14c22b;
  background: linear-gradient(to top, #14c22b, #33ff81);
}

.verte a {
  text-decoration: none;
  color: #14c22b;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.bleu p {
  animation: myAnimOut 0.5s ease 0s 1 normal backwards;
}

.bleu p:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.rouge p {
  animation: myAnimOut 0.5s ease 0s 1 normal backwards;
}

.rouge p:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.jaune p {
  animation: myAnimOut 0.5s ease 0s 1 normal backwards;
}

.jaune p:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.verte p {
  animation: myAnimOut 0.5s ease 0s 1 normal backwards;
}

.verte p:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}


@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes myAnimOut {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  height: auto;
  width: 95%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.equipe-choix {
  width: 100%;
  height: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0px 0px 25px 25px ;
  text-shadow: 2px 2px 2px rgb(184, 184, 184);
}

.editBtn {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 25px;
  height: 1.5px;
  position: absolute;
  bottom: 19px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 95, 95);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 15px;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}

.container1 {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container1 .btn1 {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .btn1 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.container1 .btn1:hover a {
  letter-spacing: 3px;
}

.container1 .btn1 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.container1 .btn1:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.container1 .btn1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: rgb(94, 255, 0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.container1 .btn1:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  filter: blur(10px);
}

.container1 .btn1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: rgb(94, 255, 0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.container1 .btn1:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  filter: blur(10px);
}

.home-button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.home-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.home-button:hover {
  color: white;
}

.home-button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.home-button:hover::before {
  top: -30px;
  left: -30px;
}

.home1-button {
  --color: #2ba027;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.home1-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.home1-button:hover {
  color: white;
}

.home1-button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.home1-button:hover::before {
  top: -30px;
  left: -30px;
}
